{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="{% url 'index' %}">Page Principale</a> <span
                        class="mx-2 mb-0">/</span> <strong class="text-black">Panier</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Produit</th>
                                <th class="product-price">Prix</th>
                                <th class="product-quantity">Couleur</th>
                                <th class="product-total">Taille</th>
                                <th class="product-remove">Retirer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart in carts %}

                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="/{{ cart.2 }}" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">{{ cart.1.name }}</h2>
                                    </td>
                                    <td class="item-price">{{ cart.1.price }} €</td>
                                    <td>
                                        <h2 class="h5 text-black">{{ cart.3 }}</h2>
                                    </td>
                                    <td>
                                        <h2 class="h5 text-black">{{ cart.4 }}</h2>
                                    </td>
                                    <td>
                                        <form method="POST" class="post-form">
                                            {% csrf_token %}
                                            <input id="values" name="toRem" type="hidden" value="{{ cart.0 }};{{ cart.1.name }};{{ cart.1.price }};{{ cart.2 }};{{ cart.3 }};{{ cart.4 }}">
                                            <button type="submit"
                                                    class="btn btn-primary height-auto btn-sm">X
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
{#                        <div class="col-md-6 mb-3 mb-md-0">#}
{#                            <button class="btn btn-primary btn-sm btn-block">Mettre a jour le panier</button>#}
{#                        </div>#}
                        <div class="col-md-6 mb-3 mb-md-0">
                            <a href="{% url 'shop' %}">
                                <button class="btn btn-outline-primary btn-sm btn-block">Continuer vos achats</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-black h4" for="coupon">Coupon</label>
                            <p>Entrez un code promo si vous en possedez.</p>
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                            <input type="text" class="form-control py-3" id="coupon" placeholder="Code Promo">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm px-4">Appliquer le coupon</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Total du Panier</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div id="setTotPrice" class="col-md-6 text-right">
                                    <script>
                                        let total_price = 0;
                                        let prices = document.getElementsByClassName("item-price");
                                        for (let i = 0; i < prices.length; i++) {
                                            let price = prices[i].textContent.substring(0, prices[i].textContent.length - 1);
                                            total_price = total_price + parseInt(price);
                                        }
                                        tot_priceElt = document.createElement("strong");
                                        tot_priceElt.classList.add("text-black");
                                        tot_priceElt.textContent = String(total_price) + " €";
                                        document.getElementById("setTotPrice").appendChild(tot_priceElt);
                                    </script>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg btn-block"
                                            onclick="window.location='{% url 'checkout' %}'">Procéder au paiement
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}