{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="custom-border-bottom py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="{% url 'index' %}">Page Principale</a> <span
                        class="mx-2 mb-0">/</span> <strong class="text-black">Boutique</strong></div>
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-md-9 order-1">

                    <div class="row align">
                        <div class="col-md-12 mb-5">
                            <div class="float-md-left"><h2 class="text-black h5">Tous nos produits</h2></div>
                            <div class="d-flex">
                                <div class="dropdown mr-1 ml-md-auto">
                                    <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4"
                                            id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        Genre
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                        <a class="dropdown-item" href="{% url 'shop' filt="homme" %}">Homme</a>
                                        <a class="dropdown-item" href="{% url 'shop' filt="femme" %}">Femme</a>
                                        <a class="dropdown-item" href="{% url 'shop' filt="unisex" %}">Unisex</a>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4"
                                            id="dropdownMenuReference" data-toggle="dropdown">Tri
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                        <a class="dropdown-item" href="{% url 'shop' filt="alpha" %}">Ordre Alphabetique</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'shop' filt="croissant" %}">Prix Croissant</a>
                                        <a class="dropdown-item" href="{% url 'shop' filt="decroissant" %}">Prix Décroissant</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        {% for Prd in Prds %}

                            <div class="col-lg-6 col-md-6 item-entry mb-4">
                                <a href="{% url 'product' pk=Prd.id %}" class="product-item md-height bg-gray d-block">
                                    <img src="{{ Prd.picture.url }}" alt="Image" class="img-fluid">
                                </a>
                                <h2 class="item-title"><a href="{% url 'product' pk=Prd.id %}">{{ Prd.name }}</a></h2>
                                <strong class="item-price">
                                    {% if Prd.old_price %}
                                        <del>{{ Prd.old_price }}€</del>
                                    {% endif %}
                                    {{ Prd.price }}€</strong>

                                {% if Prd.stars %}
                                    <div id="prd_{{ Prd.id }}" class="star-rating">
                                        <script>
                                            for (let i = 0; i < {{ Prd.stars }}; i++) {
                                                let spanElt = document.createElement("span");
                                                spanElt.classList.add("icon-star2");
                                                spanElt.classList.add("text-warning");
                                                let divElt = document.getElementById("prd_" + {{ Prd.id }});
                                                divElt.appendChild(spanElt)
                                            }
                                        </script>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
